<template>
    <c-component-with-unnamed-slot>
        <div class="slds-card">
            <div>
                <h2>Basic Input Date</h2>
                <lightning-input type="date" name="input1" label="Enter a date" ></lightning-input>            
            </div>
        </div>
    </c-component-with-unnamed-slot>
</template>